/*

!.gitignore
!README.md
!.travis.yml
!package.json
!travis.yml
!serverless.yml

!scripts/
!scripts/**

!lambdas/
!lambdas/**

!/dependencies
/dependencies/*
!/dependencies/nodejs

/dependencies/nodejs/package-lock.json
/dependencies/nodejs/node_modules
/dependencies/nodejs/config.js
/dependencies/nodejs/key.json
